body {
}
* {
    margin: 0;
    padding: 0;
}
.AllPage {
    margin: auto;
    width: 100%;
    border:1px solid black;
    overflow:auto;
}
.header {
    width: 1170px;
    height:44px;
    margin:auto;
}
.mainleft,.mainright{
    width: 100%;
    background-color: aquamarine;
    overflow: auto;
    list-style-type: none;
}
.mainleft li,.mainright li {
        width: 7em; /*用em表示會隨著文字大小變化*/
        border-right: 1px solid black;
        float: left;
    }
.mainleft li a,.mainright li a{
        display: block;
        text-align: center;
        line-height: 2em;
        color: slategrey;
        text-decoration: none;
    }
.mainleft li a:hover,.mainright li a:hover {
        background-color: aqua;
        color: white;
    }
.sub-header {
    width: 1170px;
    height: 55px;
    margin: auto;
}

.footleft{
    width: 100%;
    background-color: aquamarine;
    overflow: auto;
    list-style-type: none;
}
.footleft li{
    text-align:center;
    width: 3em; /*用em表示會隨著文字大小變化*/
    border: 1px solid red;
    float: left;
}
.footright {
    width: 100%;
    background-color: aquamarine;
    /*overflow: auto;*/
    list-style-type: none;

}
.footright li {
        width: 100%;
        text-align: center;
        border: 1px solid red;
    }
